.container {
   margin-left: auto;
        margin-right: auto;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
       padding-left: 20px;
        padding-right: 20px;
    }
}

;

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 40px;
        padding-right: 40px;
    }
}