.section{
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
}

@media screen and (min-width: 1200px) {
    .section {
       
            width: 1200px;
    }
}

// @media screen and (min-width: 1200px) {
//     .section {
        // padding-top: 94px;
        // padding-bottom: 94px;

//         padding-left: 40px;
//         padding-right: 40px;
//     }
// }