
// @media screen (min-width: 480px) {
    
// }



.thumb{
    margin: 0;
    padding: 0;
    height: 10em;
    width: 16em;
    margin: 0px;
    padding: 0px;
}


.thumb img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 100%;
}

.photo-card{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    //    outline: 2px solid tomato;
        margin: 0;
            padding: 0;
            height: 1fr;
            width: 16rem;

}
.info{
    font-size: 10px;
    // outline: 2px solid teal;
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 12px;
    margin-bottom: 8px;
}
.info>p{
    padding: 0px;
    margin: 0px;
   
}

@media screen and (min-width: 480px) {
.gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
            row-gap: 5px;
    }

 .thumb {

     margin: 0;
     padding: 0;
     width: 100%;

 }

}





@media screen and (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 5px;
       
    }

    .thumb {

        margin: 0;
            padding: 0;
            width: 100%;

    }

        .photo-card {
    
            margin: 0;
            padding: 0;
    
            height: 100%;
            width: 100%;

}
}

@media screen and (min-width: 1200px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 17px;
       
        // outline: 2px solid tomato;

    }

        
}

