

.position{
    position: relative;
}
.header{
    top: 0px;
        left: 0px;
       width: 100%;
        height: 84px;
        background-color: tomato;
        position: fixed;
        z-index: 1;
    //    margin-left: auto;
    //     margin-right: auto; 
        padding-top: 18px;
        // display: flex;

}
.info-picter{
    display: flex;
    justify-content:flex-start;
    padding-left: 200px;
   
}

.form{
    display: flex;
    justify-content: center;
}